@import "../../../public/styles/index.scss";

.wrapper {
    padding: 1.875rem;

    background-color: #032055;

    .wrapper-content {
        .wrapper-title {
            h5 {
                border-bottom: 1px dashed #11326f;
                padding-bottom: 23px;
            }
        }

        .wrapper-body {
            padding: 1rem 0;
        }
    }
}
