.MuiTextField-root {
    color: white;

    & label {
        color: white;

        &.Mui-focused {
            color: white;
            font-weight: 600;
        }
    }
    // focused color for input with variant='standard'
    & .MuiInput-underline::before {
        border-bottom-color: white;
    }

    & .MuiInput-underline::after {
        border-bottom-color: white;
    }

    // .MuiInput-root {
    //     &.Mui-focused {
    //         color: white;
    //     }
    // }

    & .MuiFilledInput-underline:after {
        border-bottom-color: orange;
    }

    & .MuiOutlinedInput-root {
        &.Mui-focused fieldset {
            border-color: orange;
        }
    }
}
