@import "../../../../public/styles/index.scss";

.checkout-wrapper {
    position: relative;

    width: 75%;

    margin: 0 auto;

    display: flex;

    .checkout-child {
        padding: 0 0.9rem;
    }

    .checkout-info {
        width: 65%;

        .checkout-payment {
            .notice {
                color: #7da2d3;

                margin-top: 0.25rem;

                a {
                    color: #3967e8;
                }
            }

            form {
                ul {
                    display: flex;

                    li {
                        padding: 0.9rem;

                        width: 7.5rem;
                        height: 8.125rem;

                        button {
                            width: 100%;
                            height: 100%;

                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            border: 0.125rem solid #11326f;
                            border-radius: 0.625rem;

                            padding: 1.2rem;

                            margin: 0 -1rem 0;

                            text-align: center;
                            font-size: 0.75rem;
                            color: white;
                            font-weight: 600;
                            text-wrap: nowrap;

                            img {
                                @include img-fit(100%, 70%, contain);

                                margin: 0 0 0.625rem;
                            }

                            &.active {
                                border: 0.125rem solid #4441e7;

                                transition: all 0.3s ease-in-out 0s;

                                &::before {
                                    content: "";

                                    background: #032055;

                                    width: 40px;
                                    height: 40px;

                                    border-radius: 50%;

                                    position: absolute;
                                    top: -20px;
                                    right: -20px;
                                }

                                &::after {
                                    content: "";

                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;

                                    position: absolute;
                                    top: -15px;
                                    right: -15px;

                                    background: url(../../../../public/assets/icons/check.png) no-repeat center center;
                                    background-size: cover;

                                    -webkit-transition: background 0.2s ease-in-out;
                                    transition: background 0.2s ease-in-out;
                                }
                            }
                        }
                    }
                }

                .subtitle {
                    text-transform: capitalize;
                    font-weight: 500;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .checkout-ticket {
        width: 35%;

        .booking-area {
            background: $wrapper;

            padding: 1.875rem 1.875rem 0.625rem;

            .booking-summary {
                h4 {
                    text-transform: uppercase;
                    font-size: 1.75rem;

                    border-bottom: 0.08rem dashed #11326f;

                    text-align: center;
                    color: white;
                    font-weight: 600;

                    padding: 0 0 1.4rem;
                }

                ul {
                    width: 100%;

                    border-bottom: 0.08rem dashed #11326f;

                    &.ticket-info {
                        position: relative;

                        &::before {
                            content: "";

                            position: absolute;
                            bottom: -1.5rem;
                            left: -3rem;

                            width: 48px;
                            height: 48px;
                            background-color: #001232;
                            border-radius: 50%;
                        }

                        &::after {
                            content: "";

                            position: absolute;
                            bottom: -1.5rem;
                            right: -3rem;

                            width: 48px;
                            height: 48px;
                            background-color: #001232;
                            border-radius: 50%;
                        }
                    }

                    li {
                        width: 100%;

                        display: flex;
                        flex-wrap: nowrap;
                        flex-direction: column;

                        .subtitle,
                        .info {
                            font-weight: 600;

                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }

                .ticket-price {
                    .info {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }

        .proceed-area {
            padding: 1.875rem;

            background: #05245c;

            .subtitle {
                display: flex;
                justify-content: space-between;

                font-weight: 600;
            }
        }
    }
}
